.dui-quick-search {
    display: flex;
    gap: var(--dui-quick-search-gap);
    background-color: var(--dui-quick-search-background-color);
    border-radius: var(--dui-quick-search-radius);
    color: var(--dui-quick-search-color);
    --dui-form-field-readonly-border:none;
    --dui-form-field-border:none;
    --dui-form-field-focused-border:none
}