.dui-mark-weekend-day {
    background: var(--dui-clr-grey-l-3);
}

.dui-selected-option {
    margin: 0 var(--dui-spc-1);
}

.dui-form-select .dui-field-input .dui-selected-option:not(:last-child):after {
    content: "";
    position: absolute;
    width: var(--dui-spc-1);
    background-color: black;
    height: 1px;
    bottom: 50%;
    margin: 0 var(--dui-spc-1);
}
/* -------------------  */

@media screen and (max-width: 992px) {
    .dui-stepper.dui-responsive .dui-step-track {
        width: 100%;
    }

    .dui-stepper.dui-responsive .dui-tracker-content {
        text-align: right;
    }
}

/* --------------------------------------- */

