<<<<<<< HEAD
.hour-picker{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.hour-picker .hour{
    position: absolute;
    width:40px;
    height:40px;
    cursor: pointer;
    border-radius:50%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

.hour-picker .hour:hover{
}

.time-picker{
    border: 1px solid #e6e6e6;
    width: 100%;
    display: inline-block;
}

.time-picker .time-panel{
    text-align: center;
    margin-bottom: 10px;
}

.time-picker .full-header-time{
    height: 3.2rem;
    line-height: 3.2rem;
    font-size: 15px;
    opacity: 1;
    color: rgba(255, 255, 255, 0.8);
}

.time-picker .time-hour{
    font-size: 48px;
}

.time-picker .time-minute{
    font-size: 24px;
}
.time-picker .year-ampm{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
}

.time-picker .full-time{
    text-align: center;
}

.time-picker-container{

}

.time-ampm-select{
    height: 50px;
    margin: 0px 10px 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/*
private HTMLDivElement element = div().css("calendar").asElement();
    private HTMLDivElement headerPanel = div().css("date-panel").asElement();
    private HTMLDivElement timePanel = div().css("day-name").asElement();

    private HTMLDivElement hourPanel = div().css("month-name").asElement();
    private HTMLDivElement minutePanel = div().css("day-number").asElement();
    private HTMLDivElement amPmPanel = div().css("year-number").asElement();
    private HTMLDivElement fullTimePanel = div().style("text-align: center;").asElement();
    private HTMLDivElement amPmSelectorPanel = div().style(" ").asElement();

 */



=======
/* for development only */
>>>>>>> baed04e6ee0f4faeed252bd3f1f7fe70329ea601
