body {
    background-color: #e9e9e9;
}

pre.prettyprint {
    padding: 10px !important;
    font-size: 110%;
}

@media screen and (max-width: 992px) {
    .demo-footer {
        padding: 20px 0px;
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .demo-footer {
        padding: 20px 200px;
    }
}

.gitter-open-chat-button {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.theme-red .gitter-open-chat-button {
    background-color: #F44336;
    color: #fff;
}

.theme-pink .gitter-open-chat-button {
    background-color: #E91E63;
    color: #fff;
}

.theme-purple .gitter-open-chat-button {
    background-color: #9C27B0;
    color: #fff;
}

.theme-deep-purple .gitter-open-chat-button {
    background-color: #673AB7;
    color: #fff;
}

.theme-indigo .gitter-open-chat-button {
    background-color: #3F51B5;
    color: #fff;
}

.theme-blue .gitter-open-chat-button {
    background-color: #2196F3;
    color: #fff;
}

.theme-light-blue .gitter-open-chat-button {
    background-color: #03A9F4;
    color: #fff;
}

.theme-cyan .gitter-open-chat-button {
    background-color: #00BCD4;
    color: #fff;
}

.theme-teal .gitter-open-chat-button {
    background-color: #009688;
    color: #fff;
}

.theme-green .gitter-open-chat-button {
    background-color: #4CAF50;
    color: #fff;
}

.theme-light-green .gitter-open-chat-button {
    background-color: #8BC34A;
    color: #fff;
}

.theme-lime .gitter-open-chat-button {
    background-color: #CDDC39;
    color: #fff;
}

.theme-yellow .gitter-open-chat-button {
    background-color: #FFEB3B;
    color: #fff;
}

.theme-amber .gitter-open-chat-button {
    background-color: #FFC107;
    color: #fff;
}

.theme-orange .gitter-open-chat-button {

    background-color: #FF9800;
    color: #fff;
}

.theme-deep-orange .gitter-open-chat-button {
    background-color: #FF5722;
    color: #fff;
}

.theme-brown .gitter-open-chat-button {
    background-color: #795548;
    color: #fff;
}

.theme-grey .gitter-open-chat-button {
    background-color: #9E9E9E;
    color: #fff;
}

.theme-blue-grey .gitter-open-chat-button {
    background-color: #607D8B;
    color: #fff;
}

.theme-black .gitter-open-chat-button {
    background-color: #000;
    color: #fff;
}

@media screen and (min-width: 992px) {
    .content-margin {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}

.profile-card{
    border-radius: 0px;
    box-shadow: none;
}

.invalid-section {
    border: 1px solid #F44336;
}

.open-source {
    text-align: center;
    width: 150px;
    padding: 10px 5px 5px 0px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    position: fixed;
    right: 8px;
    top: 69px;
    z-index: 9;
}

.open-source .material-icons {
    width: 24px;
}

.open-source span {
    position: relative;
    top: -8px;
    left: 7px;
}

.sample-div {
    text-align: center;
    line-height: 50px;
    font-size: larger;
    height: 50px;
    color: white;
    background-color: #777777;
}

.count-reset {
    counter-reset: col;
}

.counter:before {
    counter-increment: col;
    content: counter(col);
}

.menu-header .search-bar {
    height: 40px !important;
}

.demo-layout-section {
    background-color: #777777;
    border: 1px solid #999999;
    text-align: center;
    color: #FFF;
}

.demo-layout-section span {
    position: relative;
    top: 50%
}

.demo-split-div {
    width: 100%;
    height: 100%;
}

.demo-flex-layout-result-container {
    height: 500px;
    background: #777777;
}

.demo-flex-layout-container {
    counter-reset: section;
    min-height: 120px;
}

.demo-flex-layout-container.fill-height {
    height: 100%;
}

.demo-flex-layout-block {
    width: 100px;
    min-height: 100px;
    background: white;
    margin: 10px;
    line-height: 100px;
}

.demo-flex-layout-block h4 {
    text-align: center;
    line-height: 100px;
    font-size: larger;
    margin: 0px;
}

.demo-flex-layout-block h4::before {
    counter-increment: section;
    content: counter(section);
}

.sample-spin-item {
    text-align: center;
    line-height: 50px;
    font-size: larger;
    min-height: 50px;
}

.gs-background::after {
    content: "";
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.demo-nav-card {
    transition: transform 100ms ease;
}

.demo-nav-card:hover {
    transform: scale(1.05);
}

.demo-carousel::after {
    background-image: url("./images/greyscale-5.jpg");
}

.demo-getting-started::after {
    background-image: url("./images/greyscale-4.jpg");
}

.demo-docs::after {
    background-image: url("./images/greyscale-3.jpg");
}

.demo-sample-apps::after {
    background-image: url("./images/greyscale-2.jpg");
}

.demo-github::after {
    background-image: url("./images/greyscale-6.jpg");
}

.home-section {
    padding: 40px;
    border-bottom: 1px solid #c1c0c0;
}

.home-section.slide-1 {
    border-left: 3px solid #f4ae62;
}

.home-section.slide-2 {
    border-left: 3px solid #5485ed;
}

.home-section.slide-3 {
    border-left: 3px solid #54b060;
}

.home-section.slide-4 {
    border-left: 3px solid #e75252;
}

.home-section.slide-5 {
    border-left: 3px solid #444444;
}

.home-section.odd {
    background-color: #efefef;
}

.home-section .breaker {
    border-bottom: 1px solid #c1c0c0;
    background-color: #ffffff;
    left: calc(50% - 70px);
    width: 140px;
    height: 40px;
    position: relative;
    bottom: -64px;
    display: inline-block;
    border-radius: 10px;
}

.home-section.odd .breaker {
    background-color: #efefef;
}

.home-sections {
    border-top: 1px solid #c1c0c0;
    border-right: 1px solid #c1c0c0;
}

.home-sections::after {
    background-image: url("./images/greyscale-3.jpg");
}

.home-sections.gs-background::after {
    opacity: 0.15;
}

.img-responsive.person-pic {
    width: 35%;
    border-radius: 50%;
    display: inline-block;
}

.classy-card {
    z-index: 1;
}

.bg-classy {
    background-image: url(./images/greyscale-3.jpg);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.1;
}

.img-responsive.person-pic.quote-pic {
    width: 64px;
    height: 64px;
}

.avatar-container{
    background-color: #efefef;
    border-bottom: 1px solid #cecece;
}

.login-avatar{
    width: 180px;
    display: inline-block;
    padding: 10px;
    border: 10px solid #4ac6c6;
    border-radius: 50%;
}

.side-login-btn{
    min-width: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.demo-icon-container .demo-google-material-icon .icon-name.demo-mdi-icon-name{
    top: -5px;
}