pre {
  display: block !important;
  padding: 9.5px !important;
  margin: 0 0 10px !important;
  font-size: 13px !important;
  line-height: 1.42857143 !important;
  color: #333 !important;
  word-break: break-all !important;
  word-wrap: break-word !important;
  background-color: #f5f5f5 !important;
  border: 1px solid #cecece !important;
   border-radius: 0px !important;
}

code {
  padding: 2px 0px !important;
  font-size: 130% !important;
  color: #051142 !important;
  background-color: #f5f5f5 !important;
  border-radius: 4px !important;
}
